body {
    margin: 0;
    padding: 0;
    background-color: rgb(50, 50, 50);
}

/*----------TITRE----------*/

h1 {
    color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

/*----------BARRE DE RECHERCHE----------*/

form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

form label {
    color: white;
    font-family: "Roboto", sans-serif;
}

.search-container {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 100px;
}

/*----------POKEMONS----------*/

#pokemons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}














.pokemon-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 10px;
    border-radius: 20px;
  }
  
  .pokemon-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .pokemon-card:hover .pokemon-card-inner {
    transform: rotateY(180deg);
  }
  
  .pokemon-card-front, .pokemon-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .pokemon-card-front {
    background-color: white;
    color: black;
    border-radius: 20px;
  }

  .pokemon-cart-front img {
    width: 10px;
    height: auto;
  }
  
  .pokemon-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
  }
















.pokemon-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0;
    width: 40%;
    height: auto;
}

.pokemon-name {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
}

.pokemon-number {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
}